@import url('https://fonts.googleapis.com/css2?family=Poppins:weight@400;500;600;700,800,900,&display=swap');

body{
    background: mintcream;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-weight: 600;
}

.custom-bg {
    background: #1d63ff!important;
}

.card{
    margin-bottom: 5px;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}

.card-body{
    padding: 5px;
    color: black;
    border-radius: 15px;
}

.form-group input{
    padding: 0.8rem 1.2rem;
    border-radius: 22px;
    overflow-y: auto; 
}

.form-group textArea{
    padding: 0.8rem 1.2rem;
    height: 50px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto; 
}

.btn{
    padding: 00.5rem 1rem;
    background-color: #1d63ff;
    border: 2px solid #fafafa;
    color: white;
    align-items: center;
    text-align: center;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn:hover{
    background-color: transparent;
    color: #1d63ff;
}

.admin .card{
    border: 2px solid #1d63ff;
    border-radius: 6px;
}

.admin .card-body {
    background-color: #ffce32;
}

.admin .card-body h1 {
    color: #1d63ff;
}

.admin .card-title {
    background-color: black;
}

.admin .card:hover{
    background: white;
    cursor: pointer;
}

.container .btn {
    background-color: #673AB7;
    color: white;
}

.container .btn:hover {
    background-color: transparent;
    color: #673AB7;
    border-color: #673AB7;
}

.container .card-body {
    padding: 5px;
}

.list-group-item {
    margin-left: 10px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}

.list-group-item.active {
    background: #673AB7!important;
    border-color: #673AB7!important;
}

.discount-label {
    font-size: 10px!important;
    color: white;
    font-style: italic!important;
}

.card-img-top {
    padding: 8px;
}

.btns {
    padding: 3px;
    border-radius: 6px;
}


.card-footer .btn-cart {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border: none;
    transition: 0.3s;
    align-items: center;
}

.card-footer .btn-cart:hover {
    cursor: pointer;
    border: 2px solid #1d63ff;
    background: white
}

.text-secondary {
    background: white;
    border-radius: 3px;
    color: #ffce32;
    padding: 2px;
}

/* Toast....css*/
 #toast {
    min-width: 300px;
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -120px;
    background: #333;
    padding: 15px;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    z-index: 1;
    font-size: 18px;
    box-shadow: 0px 0px 100px #000;
}

#toast.display {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
